@import url('main.css');


/* Home */
#home {
  margin: auto;
  width: 1275px;
  height: 52vh;
  padding: 40px;
  padding-top: 135px;
  text-align: center;
}
.carousel-inner {
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgb(162, 162, 162);
}
.carousel-inner h3 {
	font-size:18px !important;
	font-family:'Poor Story', 'cursive';
	font-weight:bold !important;
}
.input-group{
	flex-wrap:nowrap !important;
}
#search{
	border:2px solid lightgray;
	border-top-left-radius:8px !important;
	border-bottom-left-radius:8px !important;
}

#ui-id-1 {
	/* 오토 컴플리트 창 */
	border-radius:8px;
}
.ui-menu-item-wrapper {
	/* 오토 컴플리트 리스트 화면 수정 */
	width:350px;
	border-radius:8px;
	background-color:white;
}


.ui-menu-item-wrapper:hover {
	/* 오토컴플리트 리스트 hover 시 화면 수정 */
	background-color:lightgray !important;
	border:none !important;
	color:black !important;

}
.ui-state-active{
	/* 키보드 선택 시 오토 컴플리트 화면수정 */
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
	border:none !important;
	color:black !important;
}

.match_name{
	font-family:'Poor Story', 'cursive';
	font-weight:bold;
	font-size:20px;
}
.fa-star{
	color:orange;
}

.sizing {
  width: 550px !important;
  height: 50px;
  margin: auto;
  margin-top:-18px;
}
.formControl {
  border: 2px solid lightgray;
  border-radius: 5px;
  width: 90%;
}
.formControl::placeholder{
	font-family:'Poor Story', 'cursive';
	font-weight:600;
}
.formControl:focus {
  outline: none !important;
  box-shadow: 0 0 5px lightgray;
}
.btn-outline-secondary > i {
  color: coral;
  transition: all 0.1s ease-in;
}
.btn-outline-secondary > i:hover {
  transform: scale(1.3) rotate(-5deg);
}
.btn-outline-secondary:hover {
  background-color: white;
}
.btn3 {
	background-color:white !important;
	border:2px solid lightgray !important;
}
.btn3:hover{
	background-color:white !important;
}

.first-box {
  background: linear-gradient(45deg, rgb(157, 34, 157), Orange);
  height: 40vh;
  display: flex;

}

.head__left-box,
.head__left-box2,
.head__left-box3 {
  /* background-color: #5289c1; */
  width: 60%;
  height: 100%;
  display: inline-block;
  text-align: left;
  padding: 80px;
}
.head__left-box h2,
.head__left-box h3,
.head__left-box2 h2,
.head__left-box2 h3,
.head__left-box3 h2,
.head__left-box3 h3 {
  color: var(--color-white);
}

.head__left-box h2,
.head__left-box2 h2,
.head__left-box3 h2{
	font-size:32px;
}


.head__left-box h3,
.head__left-box2 h3,
.head__left-box3 h3 {
  font-size:26px;
}

.head__right-box,
.head__right-box2,
.head__right-box3 {
  width: 40%;
  float: right;
  position: relative;
}
.our-story-card-img {
  width:440px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
}
.img-popcorn {
  width: 280px;
  height: 155px;
  position: absolute;
  top: 65px;
  right: 113px;
}

.second-box {
  background: linear-gradient(45deg, rgb(178, 182, 115), Orange);
  height: 40vh;
  display: flex;
}
.head__right-box2 {
  width: 40%;
}
.head__right-box2 img {
  position: absolute;
  width: 370px;
  top: 30px;
  right: 100px;
}

.third-box {
  background: linear-gradient(45deg, darkslateblue, rgb(75, 101, 179));
  height: 40vh;
  display: flex;
}

.head__right-box3 {
  width: 40%;
}
.imgBox img {
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0 0 10px 3px #73aace;
}
.party-img1 {
  width: 180px;
  transform: rotate(-5deg);
  position: absolute;
  top: 60px;
  right: 250px;
}
.party-img2 {
  width: 250px;
  transform: rotate(5deg);
  position: absolute;
  top: 40px;
  right: 60px;
}

/* party box */
#party {
  /* background-color: antiquewhite; */
  width: 1200px;
  height: 250px;
  margin: auto;
  text-align: center;
}
#party > h2{
	text-align:left;
}
.party__box {
  display: flex;
  width:1200px;
  height: 100%;
  justify-content: space-between;
  margin:auto;
}

.party__box-left,
.party__box-right {
  background: white;
  width: 32%;
  height: 100%;
  position: relative;
  cursor: pointer;
  font-family: 'Poor Story', cursive;
}

.party__box-left,
.party__box-right{
	transition:all 0.2s;
}
.party__box-left:hover {
	box-shadow:0 0 5px 1px var(--color-purple);
}
.party__box-right:hover{
	box-shadow:0 0 5px 1px var(--color-orange);
}
.party__box-right:nth-child(3):hover{
	box-shadow:0 0 7px 1px var(--color-blue);
}

.party__box-left,
.party__box-right,
.wonder__box {
  border-radius: 15px;
  box-shadow: 0 0 3px 2px lightgray;
}
.plus-icon,
.party__text,
.party__makeParty {
  position: absolute;
}
.plus-icon {
  /* background-color: rgb(251, 124, 255); */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 10px;
}

.party__text {
  /* background-color: #73aace; */
  top: 60px;
  left: 60px;
  text-align: left;
}
.party__text > h3 {
  font-size: 24px;
  font-weight: bold;
}
.party__text > span {
  font-size: 16px;
}
.party__makeParty {
  top: 170px;
  left: 62px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-purple);
  cursor: pointer;
}

/* About ICU */

.wonder__box {
  background-color: rgb(237, 211, 97);
  margin: auto;
  width: 1200px;
  height: 170px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  font-family: 'Poor Story', cursive;
}

.wonder-text {
  color: rgb(130, 130, 130);
  font-size: 30px;
  font-weight: 600;
  margin-left: -20px;
}

.about-img {
  position: absolute;
  right:5px;
}

.wonder-img{
	transition:all 0.1s;
}
.wonder-img:hover{
	transform:scale(1.1);
}
/* 추천콘텐츠 */
#recommend {
  margin-bottom: 50px;
  margin-top: 60px;
}
.recommend__box {
  /* background-color: darkgoldenrod; */
  margin: auto;
  width: 1200px;
  height: 335px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.recommend__text {
  /* background-color: rgb(189, 179, 166); */
  text-align: left;
  display: inline-block;
  margin-left: 19%;
}
.movie-poster {
  width: 24%;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 5px rgb(139, 137, 137);
  cursor: pointer;
  transition: all 0.1s linear;
  position: relative;
}
.movie-poster:hover {
  transform: scale(1.1);
}

.recommend__box img {
  width: 100%;
}
.poster-text {
  background-color: #999;
}

.overlay-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 15px;
  /* 넘치는 부분 히든 시킴 */
}
.overlay-black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* transition: all 3s; */
  text-align: center;
  display: none;
}
.overlay-wrap:hover .overlay-black {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-text {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

/* .match{
      	float: right;
      }   */
.ui-autocomplete {
  max-height: 600px;
  overflow: scroll;
}

.ui-autocomplete::-webkit-scrollbar {
	display:none; /* Chrome , Safari , Opera */
	
}

.ui-state-active{
	padding : 0 !important;
	background:white !important;
}

.ui-menu-item-wrapper{
	padding : 0 !important;
}
