@import url('main.css');

/* Home */
#home {
  margin: auto;
  width: 850px;
  height: 52vh;
  padding: 40px;
  padding-top: 135px;
  text-align: center;
}
.carousel-inner {
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgb(162, 162, 162);
}
.sizing {
  width: 550px !important;
  height: 50px;
  margin: auto;
}
.formControl {
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 90%;
}
.formControl:focus {
  outline: none !important;
  border-color: var(--color-orange);
  box-shadow: 0 0 5px 1px rgb(255, 213, 134);
}
.btn-outline-secondary > i {
  color: coral;
  transition: all 0.1s ease-in;
}
.btn-outline-secondary > i:hover {
  transform: scale(1.3) rotate(-5deg);
}
.btn-outline-secondary:hover {
  background-color: white;
}
.first-box {
  background: linear-gradient(45deg, rgb(157, 34, 157), Orange);
  height: 30vh;
  display: flex;
}

.head__left-box,
.head__left-box2,
.head__left-box3 {
  /* background-color: #5289c1; */
  width: 60%;
  height: 100%;
  display: inline-block;
  text-align: left;
  padding: 32px;
}
.head__left-box h2,
.head__left-box h3,
.head__left-box2 h2,
.head__left-box2 h3,
.head__left-box3 h2,
.head__left-box3 h3 {
  color: var(--color-white);
}

.head__right-box,
.head__right-box2,
.head__right-box3 {
  /* background-color: #4d4d4d; */
  width: 40%;
  float: right;
  position: relative;
}
.our-story-card-img {
  width: 320px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
}
.img-popcorn {
  width: 198px;
  height: 115px;
  position: absolute;
  top: 50px;
  right: 92px;
}

.second-box {
  background: linear-gradient(45deg, rgb(178, 182, 115), Orange);
  height: 30vh;
  display: flex;
}
.head__right-box2 {
  width: 40%;
}
.head__right-box2 img {
  position: absolute;
  width: 250px;
  top: 40px;
  right: 50px;
}

.third-box {
  background: linear-gradient(45deg, darkslateblue, rgb(75, 101, 179));
  height: 30vh;
  display: flex;
}

.head__right-box3 {
  width: 40%;
}
.imgBox img {
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0 0 10px 3px #73aace;
}
.party-img1 {
  width: 120px;
  transform: rotate(-5deg);
  position: absolute;
  top: 60px;
  right: 160px;
}
.party-img2 {
  width: 170px;
  transform: rotate(5deg);
  position: absolute;
  top: 40px;
  right: 60px;
}

/* party box */
#party {
  /* background-color: antiquewhite; */
  width: 770px;
  height: 250px;
  margin: auto;
  text-align: center;
}
.party__box {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.party__box-left,
.party__box-right {
  background: white;
  width: 48%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.party__box-left,
.party__box-right,
.wonder__box {
  border-radius: 15px;
  box-shadow: 0 0 3px 2px lightgray;
}
.plus-icon,
.party__text,
.party__makeParty {
  position: absolute;
}
.plus-icon {
  /* background-color: rgb(251, 124, 255); */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 10px;
}

.party__text {
  /* background-color: #73aace; */
  top: 60px;
  left: 60px;
  text-align: left;
}
.party__text > h3 {
  font-size: 24px;
  font-weight: bold;
}
.party__text > span {
  font-size: 16px;
}
.party__makeParty {
  top: 170px;
  left: 62px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-purple);
  cursor: pointer;
}

/* About ICU */
.wonder__box {
  background-color: rgb(237, 211, 97);
  margin: auto;
  width: 770px;
  height: 110px;
  margin-top: 18px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.wonder-text {
  color: rgb(130, 130, 130);
  font-size: 22px;
  font-weight: 600;
  margin-left: -20px;
}
.about-img {
  position: absolute;
  right: 0;
}
/* 추천콘텐츠 */
#recommend {
  margin-bottom: 50px;
  margin-top: 60px;
}
.recommend__box {
  /* background-color: darkgoldenrod; */
  margin: auto;
  width: 1200px;
  height: 335px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.recommend__text {
  /* background-color: rgb(189, 179, 166); */
  text-align: left;
  display: inline-block;
  margin-left: 19%;
}
.movie-poster {
  width: 24%;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 5px rgb(139, 137, 137);
  cursor: pointer;
  transition: all 0.1s linear;
  position: relative;
}
.movie-poster:hover {
  transform: scale(1.1);
}

.recommend__box img {
  width: 100%;
}
.poster-text {
  background-color: #999;
}

.overlay-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 15px;
  /* 넘치는 부분 히든 시킴 */
}
.overlay-black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* transition: all 3s; */
  text-align: center;
  display: none;
}
.overlay-wrap:hover .overlay-black {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-text {
  font-size: 22px;
  font-weight: bold;
  color: white;
}
/* chatBot */
.chatBot {
  position: fixed;
  bottom: 30px;
  right: 50px;
  width: 55px;
  height: 55px;
  font-size: 35px;
  line-height: 20px;
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 0 3px 1px orangered;
}
.chatBot:hover {
  transform: scale(1.2);
}

/* 채팅 */
.chat_wrap {
  /* border: 1px solid #999; */
  border-radius: 20px;
  width: 350px;
  height: 650px;
  padding: 5px;
  font-size: 13px;
  color: #333;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  background-color: rgb(244, 244, 250);
  box-shadow: 0 0 7px 1px rgb(138, 157, 176);
  z-index: 3;
}
.chat_header {
  border-radius: 15px;
}
.chat_header > h5 {
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(45deg, rgb(157, 34, 157), Orange);
  color: var(--color-white);
  font-weight: bold;
}
.close__chatDiv {
  position: absolute;
  top: 5px;
  right: 10px;
}
.chat_header h5 {
  text-align: center;
}
.chat_wrap .inner {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
  height: 440px;
  /* 관리자 채팅과 나누면 500정도로 해도됨 */
}
.chat_wrap .item {
  margin-top: 15px;
}
.chat_wrap .item:first-child {
  margin-top: 0px;
}
.chat_wrap .item .box {
  display: inline-block;
  max-width: 180px;
  position: relative;
}
.chat_wrap .item .box::before {
  content: '';
  position: absolute;
  left: -8px;
  top: 9px;
  border-top: 0px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
}
.chat_wrap .item .box .msg {
  background: #fff;
  border-radius: 10px;
  padding: 8px;
  text-align: left;
  font-size: 16px;
  word-break: break-word;
}
.chat_wrap .item .box .time {
  font-size: 8px;
  color: #999;
  position: absolute;
  right: -75px;
  bottom: 5px;
  width: 70px;
}
.chat_wrap .item.mymsg {
  text-align: right;
}
.chat_wrap .item.mymsg .box::before {
  left: auto;
  right: -7px;
  border-left: 8px solid #fee600;
  border-right: 0;
}
.chat_wrap .item.mymsg .box .msg {
  background: #fee600;
}
.chat_wrap .item.mymsg .box .time {
  right: auto;
  left: -75px;
}
.chat_wrap .item .box {
  transition: all 0.3s ease-out;
  margin: 0 0 0 20px;
  opacity: 0;
}
.chat_wrap .item.mymsg .box {
  transition: all 0.3s ease-out;
  margin: 0 20px 0 0;
}
.chat_wrap .item.on .box {
  margin: 0;
  opacity: 1;
}
