@import url('main.css');

a {
	text-decoration : none;
}

#main__logo,
#input__container,
#loginButton {
  text-align: center;
}

/* 로고 */
#main__logo {
  margin-top: 130px;
  /* background-color: aquamarine; */
}

/* 아이디 비밀번호 input */
#input__container {
  /* background-color: bisque; */
  padding: 20px;

}
#input__container i{
	color:var(--color-orange);

}

.info {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color:white;
}

.input__id,
.input__pwd {
  padding: 5px;
  border:none;
  box-shadow:0 0 3px 1px rgb(177, 176, 176);
  width:400px;
  margin:auto;
  border-radius:8px;
  background-color:white;
}
.input__pwd{
    margin-top: 8px;	
}
.input__id>input,
.input__pwd>input{
	width:300px;
}

.input__id>input:focus,
.input__pwd>input:focus{
	outline:none;
}

.input__id>input::placeholder,
.input__pwd>input::placeholder{
	padding:2px;
}

.input__id > span,
.input__pwd > span {
  font-weight: bold;
  font-size: 18px;
}

.join-container {
  /* background-color: rgb(252, 220, 220); */
  padding: 10px;
  text-align:center;
}
.join-container > a {
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.join-container > a:hover{
	color:black;
}

/* 소셜로그인, 홈페이지 로그인 */

.loginbtn {
  padding: 4px;
}

.loginbtn > button, #naverlogin {
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  height: 55px;
}
#naverlogin{
 background-color: rgb(98, 202, 98);	
 position:relative;
}
#naverlogin > span {
	position:absolute;
	top:12px;
	left:150px;
}
#naverlogin > img {
  width: 50px;
  position: absolute;
  top: 2.3px;
  left: 3px;
  border-radius: 10px;
}
.login__button > button,
#naverlogin ,
.kakao__button > button {
  color: #ffff;
  font-weight: 900;
  font-size: 20px;
  border: none;
  box-shadow: 0 0 7px 1px lightgray;
  display: inline-block;
}
.login__button > button {
  background-color: gray;
}
.naver__button > button,
.kakao__button > button {
  position: relative;
}
.naver__button > button {
  background-color: rgb(98, 202, 98);
}
.naver__button > button > img {
  width: 50px;
  position: absolute;
  top: 2.3px;
  left: 3px;
  border-radius: 10px;
}

.kakao__button > button {
  background-color: rgb(242, 206, 7);
}
.kakao__button > button > img {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 8px;
  left: 3px;
}


