@import url('main.css');

#main__logo {
  text-align: center;
  margin-top:100px;
}

#agree {
  /* background-color: antiquewhite; */
  text-align: center;
  padding: 20px;
}
#agree > p{
	font-size:18px;
	font-weight:bold;
}
#agree label {
	font-size:16px;
	font-weight:600;
}

.form-check-input:checked {
  background-color: var(--color-purple);
  border: none;
  outline: none;
}

.agreeBox__first,
.agreeBox__second,
.agreeBox__third {
  padding: 20px;
  font-size: 16px;
}

.enroll__btn {
  width: 550px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.button__cancel,
.button__check {
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 23px;
  width: 180px;
  height:50px;
}

.button__cancel {
  background-color: gray;
}
.button__check {
  background-color: var(--color-purple);
}

textarea {
  color: rgb(128, 128, 128);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px 1px rgb(179, 179, 179);
}
