@import url('main.css');



table {
  margin: auto;
  margin-top: 30px;
  width: 550px;
  height: 500px;
  font-size: 16px;
  font-weight: bold;
}
label{
	padding-left:25px;
}

input {
  height: 40px;
  width: 280px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px  var(--color-orange);
}
input:focus{
	outline:none;
}
input::placeholder {
	padding:3px;
}

#main__logo {
  text-align: center;
  margin-top: 80px;
}

.member__info {
  background-color: rgb(93, 177, 133);
  width: 700px;
  margin: auto;
}

.nameAndBirth {
  display: flex;
}

.btn__group {
  margin: auto;
  margin-top: 40px;
  width: 600px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.tableBtn {
  border-radius: 10px !important;
  box-shadow: 0 0 3px 1px rgb(200, 200, 200) !important;
  background-color: white !important;
  padding: 5px !important;
  border: none !important;
  font-weight: bold !important;
  font-size: 16px !important;
  color: var(--color-purple) !important;
}
.tableBtn:hover {
  background-color: var(--color-orange) !important;
  color:white !important;
}
.tableBtn:active {
  background-color: var(--color-orange) !important;
}

.btn__group > button {
  width: 180px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px lightgray;
 /*  color: white; */
  font-size: 20px;
  font-weight: bold;
}

.btn__group > button:first-child {
  background-color: gray;
}
.btn__group > button:nth-child(2) {
  background-color: #b1b1b1;
}
.btn__group > button:nth-child(3) {
  background-color: var(--color-purple);
}
