@import url('main.css');

td {
  width: 150px;
  padding: 10px;
}
input {
  height: 50px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 3px 1px var(--color-orange);
}
.logoBox {
  text-align: center;
  margin-top: 100px;
}
.idPwdBtn {
  text-align: center;
  /* background-color: rgb(192, 240, 224); */
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

.idPwdBtn > button {
  background-color: var(--color-orange);
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.input__info {
  box-shadow: 0 0 5px 1px lightgray;
  border-radius: 10px;
  width: 700px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 50px;
}

.tableBtn {
  height: 50px;
  background-color: var(--color-purple);
  border: none;
  font-weight: bold;
  font-size: 12px;
}
.tableBtn:hover {
  background-color: var(--color-purple);
}
.tableBtn:active {
  background-color: var(--color-purple) !important;
}

.btn__group {
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
.btn__group > button {
  height: 50px;
  background-color: var(--color-purple);
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  width: 150px;
}
.idPwdBtn > button {
  color: white;
}
#findPwdBox {
  display: none;
}
.findPwdBtn {
  opacity: 0.3;
}
