@import url('main.css');
	
body{
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	height:100vh;
}
	
.table-container{
	padding:20px;
	background-color: #DCD9D4;
	 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
	 background-blend-mode: soft-light,screen;
	border-radius: 15px;
}
	
#boardList {
	text-align:center;
	padding:20px;
	background-color:white; 	
	border-radius: 8px;
	margin-bottom:0;
	font-weight: 500;
	font-size:16px;
}

.btn:nth-child(2) {
	background-color:var(--color-purple);
	border:none;
	font-family:'Poor Story', 'cursive';
	font-weight:600;
}

#boardList tr:hover {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
#boardList th {
	   	font-family: 'Poor Story', 'cursive';
	   	font-size:18px;
}
#boardList>tbody>tr:hover {cursor:pointer;}

.pl{
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.pl option {
	font-family:'Poor Story', cursive;
	font-weight:bold;
}
.pl:focus{
    box-sizing: border-box;
    border-radius: 10px;
    outline: 2px solid #f8c77e;
    border-radius: 10px;
}

#pagingArea {
	width:fit-content;
	margin:auto;
}
        
#searchForm {
	width:80%;
	margin:auto;
}

#searchForm>* {
	float:left;
	margin:5px;
}

.select {
	width:20%;
}

.text {
	width:53%;
}

.searchBtn {
	width:20%; 
	height:45px;
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
	color:white;
}
.innerOuter > h2 {
  font-size: 3rem;
  font-weight:bold;
  text-align:center;
  background-color: white;
  width: 500px;
  margin:auto;
  border-radius:8px;
  padding:10px;
}

.formControl{
	border: 2px solid lightgray;
    border-radius: 5px;
    width: 90%;
    height:45px;
}
.formControl:focus {
 outline: none !important;
  box-shadow: 0 0 5px lightgray;	
}
.notice{
	color:red;
}
