@import url('main.css');

.titleImg{
	margin-top:50px; 
}



.header__title {
  margin-top: 100px;
  text-align: center;
}
.header__title > h2 {
  color: var(--color-orange);
  font-family:'Poor Story', cursive;
  font-size:35px;
  text-shadow: 3px 2px 1px lightgray;
}

.enroll__party-table {
  margin: auto;
  margin-top: 30px;
  height: 40vh;
  width: 710px;
  font-size: 16px;
  font-weight: bold;
  background-color:white;
  box-shadow : 0 0 5px 1px lightgray;
  border-radius:10px;
}
.pl option {
	font-family:'Poor Story', cursive;
	font-weight:bold;
}
.enroll__party-table  td:first-child{
	font-family:'Poor Story', cursive;
	font-size:20px;
	padding:20px 0;
	padding-left:75px;
	
}

.enroll__party-table  td { 
  width:50px;
  height: 70px;
}

.enroll__party-table input{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom:2px solid var(--color-purple);
}
.enroll__party-table input:focus {
	outline:none;
}
.enroll__party-table input::placeholder{
	font-size:14px;
}

.datepicker{
	width:150px;
	cursor:pointer;
}
.datepicker::placeholder{
	text-align:center;
}

.btnGroup {
  text-align: center;
  padding: 40px;
  width:500px;
  display:flex;
  justify-content:space-around;
  margin:auto;
}
.btnGroup > button {
  width: 150px;
  height:50px;
  color:white;
  border-radius:8px;
  font-weight:bold;
}
.btnGroup > button[type=button] {
	background-color:gray;
}
.btnGroup > button[type=submit] {
	background-color:var(--color-purple);
}

.pl{
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.pl:focus{
    box-sizing: border-box;
    border-radius: 10px;
    outline: 2px solid #f8c77e;
    border-radius: 10px;
}






.ui-widget-header { border: 0px solid #dddddd !important; background: #fff !important; } 

 .ui-datepicker-calendar>thead>tr>th { font-size: 14px !important; } 

 .ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0; } 

 .ui-state-default,
 .ui-widget-content .ui-state-default,
 .ui-widget-header .ui-state-default,
 .ui-button,
 html .ui-button.ui-state-disabled:hover,
 html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5 !important; background-color: transparent !important; font-weight: normal; color: #454545 !important; text-align: center; } 

 .ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 16px; text-align: center; font-size: 14px; padding: 0px; font-weight: bold; } 

 .ui-datepicker { display: none; background-color: #fff; border-radius: 4px; margin-top: 10px; margin-left: 0px; margin-right: 0px; padding: 20px; padding-bottom: 10px; width: 300px; box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1); } 

 .ui-widget.ui-widget-content { border: 1px solid #eee; } 

 #datepicker:focus>.ui-datepicker { display: block; } 

 .ui-datepicker-prev,
 .ui-datepicker-next { cursor: pointer; } 

 .ui-datepicker-next { float: right; } 

 .ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); } 

 .ui-datepicker-title { text-align: center; padding: 10px; font-weight: 100; font-size: 20px; } 

 .ui-datepicker-calendar { width: 100%; } 

 .ui-datepicker-calendar>thead>tr>th { padding: 5px; font-size: 20px; font-weight: 400; } 

 .ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 12px !important; font-weight: bold !important; text-decoration: none;}

 .ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; } 

 .ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 44px; height: 30px; cursor: pointer; padding: 5px; font-weight: 100; text-align: center; font-size: 12px; } 

 .ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; } 


 .ui-state-hover,
 .ui-widget-content .ui-state-hover,
 .ui-widget-header .ui-state-hover,
 .ui-state-focus,
 .ui-widget-content .ui-state-focus,
 .ui-widget-header .ui-state-focus,
 .ui-button:hover,
 .ui-button:focus { border: 0px solid #cccccc !important; background-color: transparent !important; font-weight: normal !important; color: #2b2b2b !important; } 


/*  .ui-icon-circle-triangle-e { backgroun	d-position: -20px 0px; background-size: 36px; } 

 .ui-icon-circle-triangle-w { background-position: -0px -0px; background-size: 36px; }  */
 
 /* .ui-widget-header .ui-icon { background-image: url('resources/images/uiBtn.png'); }  */

 .ui-datepicker-calendar>tbody>tr>td:first-child a { color: red !important; } 

 .ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff !important; } 

 .ui-datepicker-calendar>thead>tr>th:first-child { color: red !important; } 

 .ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff !important; } 

 .ui-state-highlight,
 .ui-widget-content .ui-state-highlight,
 .ui-widget-header .ui-state-highlight { border: 0px; background: #f1f1f1; border-radius: 50%; padding-top: 10px; padding-bottom: 10px; } 

 .inp { padding: 10px 10px; background-color: #f1f1f1; border-radius: 4px; border: 0px; } 

 .inp:focus { outline: none; background-color: #eee; } 