@import url('main.css');

img {
  width: 130px;
}

#search {
  width: 50%;
  margin: auto;
  margin-top: 130px;
}

.sizing {
  width: 550px !important;
  height: 50px;
  margin: auto;
}
.formControl {
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 90%;
}
.formControl:focus {
  outline: none !important;
  border-color: var(--color-orange);
  box-shadow: 0 0 5px 1px rgb(255, 213, 134);
}
.btn-outline-secondary > i {
  color: coral;
  transition: all 0.1s ease-in;
}
.btn-outline-secondary > i:hover {
  transform: scale(1.3) rotate(-5deg);
}

.btn-outline-secondary:hover {
  background-color: white;
}

/* 영화 section */
#movie__section,
#drama__section {
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 20px;
}

.movie-container,
.drama-container {
  display: flex;
}

.movie__info,
.drama__info {
  padding: 20px;
  /* background-color: aqua; */
}

.movie__text,
.drama__text {
  padding: 20px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie__text > p,
.drama__text > p {
  /* background-color: beige; */
  font-size: 18px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}
