@import url('main.css');

#main__logo {
  text-align: center;
  margin-top: 170px;
  margin-left:150px;
}

#whole{
  padding: 10%;
  padding-left: 21%;
  font-size: 13;
}

span{
  font-size: 14;
}

.fa-check{
  color: hotpink;
}

#whole{
	width: 50%;
    margin-left:550px;
    padding: 30px;
    border: none;
    box-shadow: 0 0 5px 1px lightgrey;
    border-radius: 12px;
    background-color: white;
}
#content{
	text-align:center;
	font-family: 'Poor Story', 'cursive';
	font-weight:  bold;
	font-size: 20px;
}

#red{
	color:#dc3545;
	font-family: 'Poor Story', 'cursive';
	font-weight:  bold;
	font-size: 20px;
}
#main__logo{
	font-family: 'Poor Story', 'cursive';
	font-weight:  bold;
	font-size: 20px;
}

.deleteBtn{
	margin-top:30px;
	font-weight:bold !important;
}

#memberDelete{
	text-align:center;
	font-weight:  bold;
}
#memPwd{
	width: 250px;
	
}
.modal-heade{
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
	text-align:center;
}