@import url('main.css');
@import url('admin_main.css');

.pl {
	width: 300px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.colorBlue{
	color:var(--color-blue);
}
#contentsEnroll {
  margin-left:550px;
  margin-top: 120px;
  width: 60%;
  padding:30px;
  background-color:white;
  box-shadow:0 0 5px 1px lightgray;
  border-radius:12px;
  font-family: 'Poor Story', 'cursive';
  font-size:18px;
  font-weight: var(--weight-bold);
}
#contentsEnroll > h2{
  color:var(--color-orange);
  font-size:32px;
}

.input__title {
  padding: 20px;
}
.input__title > input[type='text'] {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  width:300px;
}
.form-select{
	width:500px !important;
}
.form-select option{
	font-weight:bold;
}
.header-box {
  display: flex;
  padding: 20px;
}
.leftBox {
  width: 50%;
}
.left-box-movie{
	width:1040px;
}

.right-box {
  width: 50%;
  text-align: center;
}
.right-box img {
  width: 240px;
}
.right-box input {
  border: 1px solid black;
}

/* 예고편 */
.trailer-container {
  text-align: center;
  padding: 20px;
}
.trailer-container > input {
  margin: auto;
  height: 40px;
}

.formControl {
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 700px;
}
.formControl:focus {
  outline: none !important;
  border-color: var(--color-orange);
  box-shadow: 0 0 5px 1px rgb(255, 213, 134);
}

/* 감독, 배우, 줄거리 */
.contents-info {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

.btnGroup {
  width: 800px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.contents-btn:first-child,
.contents-btn:nth-child(2) {
  padding: 10px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}
.contents-btn:first-child {
  background-color: gray;
}
.contents-btn:nth-child(2) {
  background-color: var(--color-purple);
  color: white;
}

.contentTitle{
	font-family:'Poor Story', 'cursive';
	font-size:30px;
	color: var(--color-orange);
}
