@import url('main.css');
@import url('admin_main.css');

/* 회원정보조회 */

#memberInfo {
  margin-left:550px;
  margin-top: 300px;
  width: 60%;
  padding:30px;
  background-color:white;
  box-shadow:0 0 5px 1px lightgray;
  border-radius:12px;
}
th {
	font-family: 'Poor Story', 'cursive';
	font-weight: var(--weight-bold);
	font-size: 18px;
}

.memberTitle{
	font-family:'Poor Story', 'cursive';
	font-size:30px;
	color: var(--color-orange);
}

#memberInfo > table {
  background-color: white;
  text-align: center;
}
#memberInfo > table td,
#memberInfo > table th {
  padding: 10px;
}
.pagination {
  margin: auto;
}

#blackList {
  margin-left:550px;
  margin-top: 300px;
  width: 60%;
  padding:30px;
  background-color:white;
  box-shadow:0 0 5px 1px lightgray;
  border-radius:12px;
}
td button {
  border: 1px solid rgb(75, 75, 75);
  border-radius: 5px;
  padding: 0 3px;
  background-color: rgb(150, 150, 150);
  color: white;
}

.blackTitle{
	font-family:'Poor Story', 'cursive';
	font-size:30px;
	color: var(--color-orange);
}

#blackList > table td,
#blackList > table th {
  padding: 10px;
}

#blackList > table {
  background-color: white;
  text-align: center;
}
