@import url('main.css');
@import url('admin_main.css');


.titleText{
	margin-top:130px;
	margin-left:290px;
}
.titleText>h2{
	font-size:32px;
}
#party__container {
	margin-top:30px;
	background-color: white;
    width: 1100px;
    height: 670px;
    margin-left: 560px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 5px 1px grey;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.partyCard {
  display: flex;
  justify-content: start;
}

.cardBox {
	border: none;
    box-shadow: 0 0 5px 1px lightgrey;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    margin: 3px;
    position: relative;
    background-color: #ffffff;
    cursor:pointer;
}
.cardBox > h4 > b {
   font-family: 'Poor Story', 'cursive';
    color: var(--color-orange);
    font-size: 24px;
}
.cardBox span{
   font-size:13px;
   font-weight:600;
}

.carousel-inner {
  width: 80%;
  margin: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--color-orange);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.joinBtn {
  border-radius: 8px;
  position: absolute;
  bottom: 8px;
  right: 6px;
  padding: 8px;
  background-color: var(--color-purple);
  color: white;
  font-weight: bold;
}

.joinBtn:hover {
  transform: scale(1.1);
}

.noneContainer {
  display: none;
}

.modal-body {
  text-align: center;
}
.firstBtn,
.secondBtn {
  width: 150px;
  color: white;
  border-radius: 8px;
}
.firstBtn {
  background-color: rgb(65, 65, 247);
}
.secondBtn {
  background-color: rgb(235, 65, 65);
}
.carousel-control-prev, 
.carousel-control-next {
   height:100px;
   width:100px;
   top:270px !important;
}
.carousel-control-prev {
   left:-150px !important;
}
.carousel-control-next{
   right:-150px !important;
}
.noParty{
   background-color:white;
   padding:30px;
   border-radius:12px;
    position: relative;
   top: 240px;
   text-align:center;
   font-family:'Poor Story', 'cursive';
   font-size:20px;
   box-shadow:0 0 5px 1px lightgray;
}