@import url('admin_main.css');
@import url('main.css');

#payList {
  margin-left:550px;
  margin-top: 300px;
  width: 60%;
  padding:30px;
  background-color:white;
  box-shadow:0 0 5px 1px lightgray;
  border-radius:12px;
}

th{
	font-family: 'Poor Story', 'cursive';
	font-weight: var(--weight-bold);
	font-size: 18px;
}

td button {
  border: 1px solid rgb(75, 75, 75);
  border-radius: 5px;
  padding: 0 3px;
  background-color: rgb(150, 150, 150);
  color: white;
}
.memberTitle {
	font-family:'Poor Story', 'cursive';
	font-size:30px;
	color: var(--color-orange);
}
#payList > table td,
#payList > table th {
  padding: 10px;
}

#payList > table {
  background-color: white;
  text-align: center;
}

.pagination {
  margin: auto;
}
