@charset "UTF-8";

@import url('main.css');

.titleImg{
	
background: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0) 10%,
          rgba(20, 20, 20, 0.2) 25%,
          rgb(244, 244, 250)  100%
        ),
        url('../images/question.png') ;
      background-size: cover;
}


#FAQ > h1 {
  margin-top: -300px;
}


.title:hover{
    cursor: pointer;
}

.content {
    display:  none;
}
#collapse-container{
    width:60%;
    margin:auto;
}
   
.btn__account, .btn__party, .btn__pay {
 background-color: var(--color-purple) !important;
  padding: 10px !important;
  width: 200px !important;
  border-radius: 10px !important;
  font-size: 20px !important;
  font-weight: bold !important;
  border:none !important;
  transition:all 0.1s !important;
}

.btn__account:hover, .btn__party:hover, .btn__pay:hover{
	transform:scale(1.05);
}
.faq > button {
	background-color:var(--color-dark-grey) !important;
}

	
.card{	
	border-radius: 12px !important;
	border:none !important;
}
.accordion-button {
	font-weight:bold;
	font-size:20px !important;
}
.accordion-button:focus{
box-shadow:0 0 5px 1px lightgray !important;
}

.accordion-collapse{
	font-weight:bold;
	font-size: 18px !important;
}
.accordion-button:not(.collapsed) {
	background-color: var(--color-orange) !important;
	color:white !important;
}

.card > h1 {
	color:yellowgreen;
}
