@charset "UTF-8";
@import url('main.css');

#partySection{
   margin-top : 200px;
}


table{
   margin:auto;
}
td {
  padding: 10px;
}
td > span {
   font-size:18px;
}

input {
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px var(--color-orange);
  font-size:14px;
}
input:focus{
   outline:none;
}
input::placeholder{
   font-size: 14px;
}

#makePartyBox, #lastPartyBox{
   background-color:white;
   width:1300px;
   height:440px;
   margin-left:500px;
   padding:30px;
   border-radius:12px;
   box-shadow:0 0 5px 1px lightgray;
   background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.carousel-inner{
   height:402px;
}
.logoBox {
  text-align: center;
  margin-top: 100px;
}
.makeParty{
   box-shadow: 0 0 5px var(--color-orange);
}
.makeParty, .lastParty{
   transition:all 0.1s;
}
.makeParty:hover, .lastParty:hover{
   transform:scale(1.05);
}

.PartyBtnGroup {
  text-align: center;
  /* background-color: rgb(192, 240, 224); */
  display: flex;
  justify-content: space-around;
  width: 500px;
  height:50px;
  margin-left:900px;
  margin-top: 30px;
}

.PartyBtnGroup > button {
  background-color: var(--color-orange);
  padding: 12px;
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.input__info {
  box-shadow: 0 0 5px 1px lightgray;
  border-radius: 10px;
  width: 700px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 50px;
  background-color:white;
}

.tableBtn {
   width:130px;
  height: 40px;
  background-color: var(--color-purple) !important;
  border: none !important;
  font-weight: bold !important;
  font-size: 14px !important;
}
.tableBtn:hover {
  background-color: var(--color-purple);
}
.tableBtn:active {
  background-color: var(--color-purple) !important;
}

.btn__group {
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.btn-enter,
.btn-previous{
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  width: 150px;
}
.btn-previous{
   background-color:gray;
}
.btn-enter {
  background-color: var(--color-purple);
}


.PartyBtnGroup > button {
  color: white;
}
#lastPartyBox {
  display: none;
}
.lastParty {
  opacity: 0.3;
}


#party__container {
  width: 83%;
  margin:auto;
}
.partyCard {
  display: flex;
  justify-content: start;
}

.cardBox {
    border: none;
    box-shadow: 0 0 5px 1px lightgrey;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    margin: 3px;
    position: relative;
    background-color: #ffffff;
}
.divBox{
	cursor:pointer;
}
.divBox > h4 > b {
   font-family: 'Poor Story', 'cursive';
    color: var(--color-orange);
    font-size: 24px;
}
.divBox span{
   font-size:13px;
   font-weight:600;
}

.carousel-inner {
  width: 80%;
  margin: auto;
}
.carousel-item{
   height:380px !important;
/*    background-color:blue; */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--color-orange);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.joinBtn {
  border-radius: 8px;
  position: absolute;
  bottom: 12px;
  right: 6px;
  padding: 6px;
  background-color: var(--color-purple);
  color: white;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.1s;
}

.joinBtn2 {
  border-radius: 8px;
  position: absolute;
  bottom: 8px;
  right: 6px;
  padding: 8px;
  background-color: var(--color-purple);
  color: white;
  font-weight: bold;
  transition: all 0.1s;
}

.joinBtn:hover {
  transform: scale(1.1);
}

.joinBtn2:hover{
    transform: scale(1.1);
}
.modal-body {
  text-align: center;
}
.firstBtn,
.secondBtn {
  width: 150px;
  color: white;
  border-radius: 8px;
}
.firstBtn {
  background-color: rgb(65, 65, 247);
}
.secondBtn {
  background-color: rgb(235, 65, 65);
}
.carousel-control-prev, 
.carousel-control-next {
   height:100px;
   width:100px;
   top:140px !important;
}
.carousel-control-prev {
   left:-150px !important;
}
.carousel-control-next{
   right:-150px !important;
}

.noParty{
   background-color:white;
   padding:30px;
   border-radius:12px;
    position: relative;
   top: 130px;
   text-align:center;
   font-family:'Poor Story', 'cursive';
   font-size:20px;
   box-shadow:0 0 5px 1px lightgray;
}