@import url('main.css');

.info{
	font-family: 'Poor Story', 'cursive';
	font-weight:  bold;
	font-size: 30px;
}

#main__logo {
    text-align: center;
    margin-top: 80px;
}
input {
height: 30px;
width: 300px;
border-radius: 8px;
border: none;
box-shadow: 0 0 3px 1px var(--color-orange);
}
  
#whole{
	width: 50%;
    margin: auto;
    padding: 30px;
    border: none;
    box-shadow: 0 0 5px 1px lightgrey;
    border-radius: 12px;
    background-color: white;
}
#imgAndInfo{
width: 100%;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
/* background-color: cadetblue; */
}
#img{
/* width: 40%; */
/* height: 100%; */
/* background-color: aquamarine   ;  */
padding: 20px;
}
#info{
/* width: 60%; */
/* height: 100%; */
/* background-color: blueviolet; */
padding: 17px;
margin-top: auto;
margin-left: 10%;
}
#view{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    left: -6px;
    top: -20px;
}

#info input{
/* border: 1px solid white; */
}
#enroll{
    position: relative;
}
#enrollBtn{
    position: absolute;
    right: 65px;
    bottom: -56px;
}
#updateButton {
/* border: 2px solid black; */
/* margin: auto; */
position:relative;
right:40%;
background-color: var(--color-purple);
border-radius: 8px;
margin-top: 400px;
}
#updateButton > a{
    color:white;
}

#preview{
    border-radius: 50%;
    width: 100px;
    position: relative;
    left: -6px;
    top: -20px;
    
}

.input-file-button{
  padding: 6px 25px;
  background-color:#FF6600;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

 
