<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>

		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	
	<typeAliases>
 		<typeAlias type="com.kh.icu.member.model.vo.Member" alias="member"/> 
 		<typeAlias type="com.kh.icu.member.model.vo.Sns" alias="sns"/> 
		<typeAlias type="com.kh.icu.board.model.vo.Board" alias="board"/>
<!-- 		<typeAlias type="com.kh.icu.board.model.vo.Reply" alias="reply"/> -->
		
<!-- 		<typeAlias type="com.kh.spring.chat.model.vo.ChatMessage" alias="chatMessage"/> -->
<!-- 		<typeAlias type="com.kh.spring.chat.model.vo.ChatRoom" alias="chatRoom"/> -->
<!-- 		<typeAlias type="com.kh.spring.chat.model.vo.ChatRoomJoin" alias="chatRoomJoin"/> -->
	</typeAliases>
  	

  <mappers>
     <mapper resource="/mappers/member-mapper.xml"/> 
     <mapper resource="/mappers/board-mapper.xml"/>
<!--     <mapper resource="/mappers/chatting-mapper.xml"/> -->
  </mappers>
  
  
</configuration>