<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>

		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	
	<typeAliases>
 		<typeAlias type="com.kh.icu.member.model.vo.Member" alias="member"/> 
 		<typeAlias type="com.kh.icu.member.model.vo.Sns" alias="sns"/> 
		<typeAlias type="com.kh.icu.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.kh.icu.content.model.vo.Content" alias="content"/>
 		<typeAlias type="com.kh.icu.common.model.vo.Reply" alias="reply"/>
		<typeAlias type="com.kh.icu.content.model.vo.Coment" alias="coment"/>
		<typeAlias type="com.kh.icu.party.model.vo.Party" alias="party"/>
		<typeAlias type="com.kh.icu.common.model.vo.Image" alias="image"/>
		<typeAlias type="com.kh.icu.chat.model.vo.ChatMessage" alias="chatMessage"/> 
		<typeAlias type="com.kh.icu.chat.model.vo.ChatRoom" alias="chatRoom"/> 
		<typeAlias type="com.kh.icu.faq.model.vo.Faq" alias="faq"/> 
		<typeAlias type="com.kh.icu.party.model.vo.PartyJoin" alias="partyJoin"/>
		<typeAlias type="com.kh.icu.common.model.vo.Alarm" alias="alarm"/>  
		<typeAlias type="com.kh.icu.pay.model.vo.Pay" alias="pay"/> 
		<typeAlias type="com.kh.icu.party.model.vo.PartyEvaluate" alias="partyEvaluate"/> 
		<typeAlias type="com.kh.icu.pay.model.vo.Deposit" alias="deposit"/> 

	</typeAliases>
  	

  <mappers>
     <mapper resource="/mappers/member-mapper.xml"/> 
     <mapper resource="/mappers/board-mapper.xml"/>
     <mapper resource="/mappers/content-mapper.xml"/>
     <mapper resource="/mappers/party-mapper.xml"/>
     <mapper resource="/mappers/chatting-mapper.xml"/>
     <mapper resource="/mappers/faq-mapper.xml"/>
     <mapper resource="/mappers/pay-mapper.xml"/>
     <mapper resource="/mappers/alarm-mapper.xml"/>
  </mappers>
  
  
</configuration>