<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alarmMapper">
	<resultMap type="alarm" id="alarmResultSet">
		<result column="MES_NO" property="mesNo"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="TABLE_CD" property="tableCd"/>
		<result column="SEND_MEM_NO" property="sendMemNo"/>
		<result column="MES_CONTENT" property="mesContent"/>
		<result column="REF_TNO" property="refTno"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<insert id="insertBoardAlarm" parameterType="alarm">
		INSERT INTO ALARM(MES_NO, MEM_NO, SEND_MEM_NO, MES_CONTENT, REF_TNO, TABLE_CD)
		VALUES(SEQ_MES.NEXTVAL, #{memNo}, #{sendMemNo}, #{mesContent}, #{refTno}, #{tableCd})
	</insert>
	
	<select id="selectAlarmList" parameterType="int" resultMap="alarmResultSet">
		SELECT * FROM ALARM WHERE MEM_NO = #{memNo} AND STATUS = 'N'
	</select>
</mapper>