<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">
	<resultMap type="board" id="boardResultSet">
		<id column="Board_NO" property="boardNo"/>
		<result column="TABLE_CD" property="tableCd"/>
		<result column="MEM_NICKNAME" property="boardWriter"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="COUNT" property="count"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="reply" id="replyResultSet">
		<id column="REPLY_NO" property="replyNo"/>
		<result column="TABLE_CD" property="tableCd"/>
		<result column="MEM_NO" property="replyWriter"/>
		<result column="REF_TNO" property="refTno"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
		<association property="member" javaType="member">
			<id     column="MEM_NO" property="memNo"/>
	 		<result column="MEM_NICKNAME" property="memNickname"/>
		</association>
	</resultMap>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT
			BOARD_NO,
			M.MEM_NICKNAME,
			BOARD_TITLE,
			CREATE_DATE,
			COUNT
		FROM BOARD B
		LEFT JOIN MEMBER M ON (B.BOARD_WRITER = M.MEM_NO)
		WHERE B.STATUS = 'N'
		ORDER BY B.CREATE_DATE DESC
	</select>
	
	<select id="selectListCount" resultType="int">
		SELECT COUNT(*)
		FROM BOARD 
		WHERE STATUS = 'N'
	</select>
	
	<select id="searchSelectList" resultMap="boardResultSet">
		SELECT
			BOARD_NO,
			BOARD_TITLE,
			M.MEM_NICKNAME,
			COUNT,
			CREATE_DATE
		FROM BOARD B
		LEFT JOIN MEMBER M ON (B.BOARD_WRITER = M.MEM_NO)
		WHERE B.STATUS = 'N'
		<if test = "keyword != null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'title'">
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test="condition == 'writer'">
					M.MEM_NICKNAME LIKE '%${keyword}%'
				</when>
				<when test="condition == 'content'">
					BOARD_CONTENT LIKE '%${keyword}%'
				</when>
			</choose>
		</if>
		ORDER BY B.CREATE_DATE DESC
	</select>
	
	<select id="selectSearchListCount" resultType="int">
		SELECT COUNT(*)
		FROM BOARD B
		LEFT JOIN MEMBER M ON (B.BOARD_WRITER = M.MEM_NO)
		WHERE B.STATUS = 'N'
		<if test="keyword != null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'title'">
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test="condition == 'writer'">
					M.MEM_NICKNAME LIKE '%${keyword}%'
				</when>
				<when test="condition == 'content'">
					BOARD_CONTENT LIKE '%${keyword}%'
				</when>
			</choose>
		</if>
	</select>
	
	<select id="selectBoard" parameterType="int" resultMap="boardResultSet">
		SELECT
			BOARD_NO,
			M.MEM_NICKNAME,
			BOARD_TITLE,
			BOARD_CONTENT
		FROM BOARD B
		LEFT JOIN MEMBER M ON (B.BOARD_WRITER = M.MEM_NO)
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<insert id="insertBoard" parameterType="board" useGeneratedKeys="true">
	
		<selectKey keyProperty="boardNo" resultType="int" order="BEFORE">
			SELECT SEQ_BNO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO BOARD(
			BOARD_NO,
			BOARD_TITLE,
			BOARD_WRITER,
			BOARD_CONTENT
		) VALUES(
			#{boardNo},
			#{boardTitle},
			#{boardWriter},
			#{boardContent}	
		)
		
	</insert>
	
	<update id="updateBoard" parameterType="board">
		UPDATE BOARD
		SET BOARD_TITLE = #{boardTitle},
			BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="increaseCount" parameterType="int">
		UPDATE BOARD
		SET COUNT = COUNT +1
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<select id="selectReplyList" parameterType="int" resultMap="replyResultSet">
		SELECT
			DISTINCT REPLY_NO,
			REPLY_CONTENT,
			REF_TNO,
			MEM_NO,
			MEM_NICKNAME,
			R.CREATE_DATE,
			R.STATUS
		FROM REPLY R
		JOIN MEMBER M ON (R.REPLY_WRITER = M.MEM_NO)
		JOIN BOARD B ON (R.REPLY_WRITER = B.BOARD_WRITER)
		WHERE R.STATUS = 'N'
		AND R.TABLE_CD = 'B'
		AND REF_TNO = #{boardNo}
		ORDER BY REPLY_NO ASC
	</select>

	<insert id="insertReply" parameterType="reply" >
		INSERT INTO REPLY(REPLY_NO, REPLY_WRITER, REF_TNO, REPLY_CONTENT , TABLE_CD)
		VALUES (SEQ_RNO.NEXTVAL, #{replyWriter}, #{refTno}, #{replyContent} , 'B')
	</insert>
	
	<update id="deleteBoard" parameterType="int">
		UPDATE BOARD
        SET STATUS = 'Y'
        WHERE BOARD_NO = #{boardNo}
	</update>
	
</mapper>