<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="contentMapper">

	<resultMap type="content" id="contentResultSet">
		<result column="CON_NO" property="conNo"></result>
		<result column="TABLE_CD" property="tableCd"></result>
		<result column="CON_KTITLE" property="conKTitle"></result>
		<result column="CON_ETITLE" property="conETitle"></result>
		<result column="CON_CATEGORY" property="conCategory"></result>
		<result column="CON_DATE" property="conDate"></result>
		<result column="CON_AGE" property="conAge"></result>
		<result column="CON_INFO" property="conInfo"></result>
		<result column="CON_PREVIEW" property="conPreview"></result>
		<result column="CON_DIRECTOR" property="conDirector"></result>
		<result column="CON_ACTOR" property="conActor"></result>
		<result column="CON_SYNOP" property="conSynop"></result>
		<result column="ENROLL_DATE" property="enrollDate"></result>
		<result column="STATUS" property="status"></result>
		<result column="CHANGE_NAME" property="changeName"></result>
		<result column="FILE_PATH" property="filePath"></result>
	</resultMap>
	
	<resultMap type="coment" id="commentResultSet">
		<result column="CMT_NO" property="cmtNo"></result>
		<result column="CMT_WRITER" property="cmtWriter"></result>
		<result column="CON_NO" property="conNo"></result>
		<result column="CMT_CONTENT" property="cmtContent"></result>
		<result column="CMT_STAR" property="cmtStar"></result>
		<result column="CREATE_DATE" property="createDate"></result>
		<result column="STATUS" property="status"></result>
		<result column="MEM_NICKNAME" property="memNickname"></result>
	</resultMap>
	
	<select id="selectList" resultMap="contentResultSet">
		SELECT *
		FROM CONTENT
		JOIN IMAGE ON (CON_NO = REF_TNO)
	</select>
	
	<select id="selectContent" resultMap="contentResultSet">
		SELECT *
		FROM CONTENT
		JOIN IMAGE ON (CON_NO = REF_TNO)
		WHERE CON_NO = #{conNo}
	</select>
	
	<select id="selectGenre" resultType="String">
		SELECT GEN_NAME
		FROM GENRE
		JOIN GENRE_STORAGE S USING (GEN_NO)
		WHERE S.CON_NO = #{conNo}
	</select>
	
	<select id="selectReview" resultMap="commentResultSet">
		SELECT CMT_NO, CMT_WRITER, CON_NO, CMT_CONTENT, CMT_STAR, CREATE_DATE, C.STATUS, MEM_NICKNAME
		FROM COMENT C
		JOIN MEMBER ON (CMT_WRITER = MEM_NO)
		WHERE CON_NO = #{conNo}
	</select>
	
	<insert id="insertReview" parameterType="coment">
		INSERT INTO COMENT(CMT_NO, CMT_WRITER, CON_NO, CMT_CONTENT, CMT_STAR)
		VALUES (SEQ_CMNO.NEXTVAL, #{cmtWriter}, #{conNo}, #{cmtContent}, #{cmtStar})
	</insert>
	
	<select id="selectStar" resultType="double">
		SELECT ROUND(AVG(CMT_STAR/20), 1)
		FROM COMENT
		WHERE CON_NO = #{conNo}
	</select>
	
	<insert id="insertContent" parameterType="content">
		INSERT INTO CONTENT(CON_NO, CON_KTITLE, CON_ETITLE, CON_CATEGORY, 
		CON_DATE, CON_AGE, CON_INFO, CON_PREVIEW, CON_DIRECTOR, CON_ACTOR, CON_SYNOP)
		VALUES (SEQ_CON.NEXTVAL, #{conKTitle}, #{conETitle}, #{conCategory}, #{conDate},
		#{conAge}, #{conInfo}, #{conPreview}, #{conDirector}, #{conActor}, #{conSynop})
	</insert>
	
	<select id="selectConNo" resultType="int">
			SELECT CON_NO
			FROM (SELECT * FROM CONTENT ORDER BY CON_NO DESC)
			<![CDATA[WHERE ROWNUM <= 1]]>
	</select>
	
	<insert id="insertGenre" parameterType="map">
		INSERT ALL
		<foreach collection="conNo" item="conNo" separator=" ">
		 	<foreach collection="genre" item="g" index="index" separator=" ">
				INTO GENRE_STORAGE(GEN_NO, CON_NO)
				VALUES (${g} , ${conNo})
		 	</foreach>	
	 	</foreach>
	 	SELECT * FROM DUAL	
	</insert>
	
	<insert id="insertOtt" parameterType="map">
		INSERT ALL
		<foreach collection="conNo" item="conNo" separator=" ">
			<foreach collection="ott" item="o" index="index" separator=" ">
				INTO OTT_STORAGE(CON_NO, OTT_NO)
				VALUES (${conNo}, ${o})
		 	</foreach>
	 	</foreach>
	 	SELECT * FROM DUAL
	</insert>
	
	<insert id="insertImg" parameterType="image">
		INSERT INTO IMAGE(FILE_NO,
						  TABLE_CD,
						  ORIGIN_NAME,
						  CHANGE_NAME,
						  REF_TNO,
						  FILE_PATH)
		VALUES(SEQ_FNO.NEXTVAL, 'C', #{originName}, #{changeName}, #{refTno}, #{filePath})
	</insert>
	
	<select id="selectContentCategory" parameterType="map" resultMap="contentResultSet">
		<if test="genre.size != 0 and age.size == 0 and ott.size == 0 and category.size == 0">
			SELECT *
			FROM CONTENT
			JOIN GENRE_STORAGE G USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			)
		</if>
		
		<if test="genre.size != 0 and age.size != 0 and ott.size == 0 and category.size == 0">
			SELECT *
			FROM CONTENT
			JOIN GENRE_STORAGE G USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND CON_AGE IN(
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			)
		</if>
		
		<if test="genre.size == 0 and age.size != 0 and ott.size == 0 and category.size == 0">
			SELECT *
			FROM CONTENT
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			)
		</if>
		
		<if test="genre.size == 0 and age.size == 0 and ott.size != 0 and category.size == 0">
			SELECT *
			FROM CONTENT
			JOIN OTT_STORAGE O USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			)
		</if>
		
		<if test="genre.size != 0 and age.size == 0 and ott.size != 0 and category.size == 0">
			SELECT *
			FROM CONTENT
			JOIN GENRE_STORAGE G USING(CON_NO)
			JOIN OTT_STORAGE O USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND 
		</if>
		
		<if test="genre.size == 0 and age.size != 0 and ott.size != 0 and category.size == 0">
			SELECT *
			FROM CONTENT
			JOIN OTT_STORAGE O USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
		</if>
		
		<if test="genre.size != 0 and age.size != 0 and ott.size != 0 and category.size == 0">
			SELECT *
			FROM CONTENT
			JOIN GENRE_STORAGE G USING(CON_NO)
			JOIN OTT_STORAGE O USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			)
		</if>
		
		<if test="genre.size != 0 and age.size == 0 and ott.size == 0 and category.size != 0">
			SELECT *
			FROM CONTENT
			JOIN GENRE_STORAGE G USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			)
		</if>
		
		<if test="genre.size != 0 and age.size != 0 and ott.size == 0 and category.size != 0">
			SELECT *
			FROM CONTENT
			JOIN GENRE_STORAGE G USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND CON_AGE IN(
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			)
		</if>
		
		<if test="genre.size == 0 and age.size != 0 and ott.size == 0 and category.size != 0">
			SELECT *
			FROM CONTENT
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			)
		</if>
		
		<if test="genre.size == 0 and age.size == 0 and ott.size != 0 and category.size != 0">
			SELECT *
			FROM CONTENT
			JOIN OTT_STORAGE O USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			)
		</if>
		
		<if test="genre.size != 0 and age.size == 0 and ott.size != 0 and category.size != 0">
			SELECT *
			FROM CONTENT
			JOIN GENRE_STORAGE G USING(CON_NO)
			JOIN OTT_STORAGE O USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			)
		</if>
		
		<if test="genre.size == 0 and age.size != 0 and ott.size != 0 and category.size != 0">
			SELECT *
			FROM CONTENT
			JOIN OTT_STORAGE O USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			)
			AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			)
		</if>
		
		<if test="genre.size != 0 and age.size != 0 and ott.size != 0 and category.size != 0">
			SELECT *
			FROM CONTENT
			JOIN GENRE_STORAGE G USING(CON_NO)
			JOIN OTT_STORAGE O USING(CON_NO)
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			)
		</if>
		
		<if test="genre.size == 0 and age.size == 0 and ott.size == 0 and category.size != 0">
			SELECT *
			FROM CONTENT
			JOIN IMAGE ON (CON_NO = REF_TNO)
			WHERE CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			)
		</if>
		
		<if test="genre.size == 0 and age.size == 0 and ott.size == 0 and category.size == 0">
			SELECT *
			FROM CONTENT
			JOIN IMAGE ON (CON_NO = REF_TNO)
		</if>
			
			
	</select>
</mapper>