<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="contentMapper">

	<resultMap type="content" id="contentResultSet">
		<result column="CON_NO" property="conNo"></result>
		<result column="TABLE_CD" property="tableCd"></result>
		<result column="CON_KTITLE" property="conKTitle"></result>
		<result column="CON_ETITLE" property="conETitle"></result>
		<result column="CON_CATEGORY" property="conCategory"></result>
		<result column="CON_DATE" property="conDate"></result>
		<result column="CON_AGE" property="conAge"></result>
		<result column="CON_INFO" property="conInfo"></result>
		<result column="CON_PREVIEW" property="conPreview"></result>
		<result column="CON_DIRECTOR" property="conDirector"></result>
		<result column="CON_ACTOR" property="conActor"></result>
		<result column="CON_SYNOP" property="conSynop"></result>
		<result column="ENROLL_DATE" property="enrollDate"></result>
		<result column="STATUS" property="status"></result>
		<result column="CHANGE_NAME" property="changeName"></result>
		<result column="FILE_PATH" property="filePath"></result>
	</resultMap>
	
	<resultMap type="coment" id="commentResultSet">
		<result column="CMT_NO" property="cmtNo"></result>
		<result column="CMT_WRITER" property="cmtWriter"></result>
		<result column="CON_NO" property="conNo"></result>
		<result column="CMT_CONTENT" property="cmtContent"></result>
		<result column="CMT_STAR" property="cmtStar"></result>
		<result column="CREATE_DATE" property="createDate"></result>
		<result column="STATUS" property="status"></result>
		<result column="MEM_NICKNAME" property="memNickname"></result>
		<result column="CHANGE_NAME" property="changeName"></result>
		<result column="FILE_PATH" property="filePath"></result>
	</resultMap>
	
	<select id="selectList" resultMap="contentResultSet">
		SELECT *
		FROM CONTENT
		JOIN IMAGE I ON (CON_NO = REF_TNO)
		WHERE I.TABLE_CD = 'C' AND STATUS = 'N'
		ORDER BY CON_NO
	</select>
	
	<select id="selectContent" resultMap="contentResultSet">
		SELECT *
		FROM CONTENT
		JOIN IMAGE I ON (CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
		WHERE CON_NO = #{conNo}
	</select>
	
	<select id="selectGenre" resultType="String">
		SELECT GEN_NAME
		FROM GENRE
		JOIN GENRE_STORAGE S USING (GEN_NO)
		WHERE S.CON_NO = #{conNo}
	</select>
	
	<select id="selectOtt" resultType="String">
		SELECT OTT_NO
		FROM OTT_STORAGE
		WHERE CON_NO = #{conNo}
	</select>
	
	<select id="selectReview" resultMap="commentResultSet">
		SELECT CMT_NO, CMT_WRITER, CON_NO, CMT_CONTENT, CMT_STAR, CREATE_DATE, C.STATUS, MEM_NICKNAME, CHANGE_NAME, FILE_PATH
		FROM COMENT C
		JOIN MEMBER M ON (CMT_WRITER = MEM_NO)
		LEFT JOIN IMAGE I ON (I.REF_TNO = M.MEM_NO) AND I.TABLE_CD = 'M'
		WHERE CON_NO = #{conNo} AND C.STATUS = 'N'
		ORDER BY C.CREATE_DATE ASC
	</select>
	
	<insert id="insertReview" parameterType="coment">
		INSERT INTO COMENT(CMT_NO, CMT_WRITER, CON_NO, CMT_CONTENT, CMT_STAR)
		VALUES (SEQ_CMNO.NEXTVAL, #{cmtWriter}, #{conNo}, #{cmtContent}, #{cmtStar})
	</insert>
	
	<update id="deleteReview" parameterType="int">
		UPDATE COMENT
		SET STATUS = 'Y'
		WHERE CMT_NO = #{cmtNo}
	</update>
	
	<select id="selectStar" resultType="double">
		SELECT ROUND(AVG(CMT_STAR/20), 1)
		FROM COMENT
		WHERE CON_NO = #{conNo}
	</select>
	
	<insert id="insertContent" parameterType="content">
		INSERT INTO CONTENT(CON_NO, CON_KTITLE, CON_ETITLE, CON_CATEGORY, 
		CON_DATE, CON_AGE, CON_INFO, CON_PREVIEW, CON_DIRECTOR, CON_ACTOR, CON_SYNOP)
		VALUES (SEQ_CON.NEXTVAL, #{conKTitle}, #{conETitle}, #{conCategory}, #{conDate},
		#{conAge}, #{conInfo}, #{conPreview}, #{conDirector}, #{conActor}, #{conSynop})
	</insert>
	
	<update id="updateContent" parameterType="content">
		UPDATE CONTENT
		SET CON_KTITLE = #{conKTitle},
		CON_ETITLE = #{conETitle},
		CON_CATEGORY = #{conCategory},
		CON_DATE = #{conDate},
		CON_AGE = #{conAge},
		CON_INFO = #{conInfo},
		CON_PREVIEW = #{conPreview},
		CON_DIRECTOR = #{conDirector},
		CON_ACTOR = #{conActor},
		CON_SYNOP = #{conSynop}
		WHERE CON_NO = #{conNo}
	</update>
	
	<select id="selectConNo" resultType="int">
			SELECT CON_NO
			FROM (SELECT * FROM CONTENT ORDER BY CON_NO DESC)
			<![CDATA[WHERE ROWNUM <= 1 AND STATUS = 'N']]> 
	</select>
	
	<update id="deleteContent" parameterType="int">
		UPDATE CONTENT
		SET STATUS = 'Y'
		WHERE CON_NO = #{conNo}
	</update>
	
	<insert id="insertGenre" parameterType="map">
		INSERT ALL
		<foreach collection="conNo" item="conNo" separator=" ">
		 	<foreach collection="genre" item="g" index="index" separator=" ">
				INTO GENRE_STORAGE(GEN_NO, CON_NO)
				VALUES (${g} , ${conNo})
		 	</foreach>	
	 	</foreach>
	 	SELECT * FROM DUAL	
	</insert>
	
	<insert id="insertOtt" parameterType="map">
		INSERT ALL
		<foreach collection="conNo" item="conNo" separator=" ">
			<foreach collection="ott" item="o" index="index" separator=" ">
				INTO OTT_STORAGE(CON_NO, OTT_NO)
				VALUES (${conNo}, ${o})
		 	</foreach>
	 	</foreach>
	 	SELECT * FROM DUAL
	</insert>
	
	<delete id="deleteGenre" parameterType="map">
		DELETE FROM GENRE_STORAGE
		<foreach collection="conNo" item="conNo" separator=" ">
			WHERE CON_NO = ${conNo}
		</foreach>
	</delete>
	
	<delete id="deleteOtt" parameterType="map">
		DELETE FROM OTT_STORAGE
		<foreach collection="conNo" item="conNo" separator=" ">
			WHERE CON_NO = ${conNo}
		</foreach>
	</delete>
	
	<insert id="insertImg" parameterType="image">
		INSERT INTO IMAGE(FILE_NO,
						  TABLE_CD,
						  ORIGIN_NAME,
						  CHANGE_NAME,
						  REF_TNO,
						  FILE_PATH)
		VALUES(SEQ_FNO.NEXTVAL, 'C', #{originName}, #{changeName}, #{refTno}, #{filePath})
	</insert>
	
	<update id="updateImg" parameterType="image">
		UPDATE IMAGE
		SET ORIGIN_NAME = #{originName},
		CHANGE_NAME = #{changeName},
		FILE_PATH = #{filePath}
		WHERE REF_TNO = #{refTno}
	</update>
	
	<select id="recommendContents" resultMap="contentResultSet">
		SELECT CT.CON_NO, I.CHANGE_NAME, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
		FROM CONTENT CT
		LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
		JOIN IMAGE I ON(I.REF_TNO = CT.CON_NO) AND I.TABLE_CD = 'C'
		WHERE CT.STATUS = 'N'
		GROUP BY CT.CON_NO, I.CHANGE_NAME, CT.CON_DATE
		ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC
	</select>
	
	<select id="selectListCount" resultType="int">
		SELECT COUNT(*)
		FROM CONTENT
		WHERE STATUS = 'N'
	</select>
	
	<select id="getWrittenContent" resultMap="contentResultSet">
		SELECT CT.CON_NO, CON_CATEGORY, CON_KTITLE
		FROM CONTENT CT
		WHERE STATUS = 'N'
		ORDER BY CON_NO
	</select>
	
	<select id="getWrittenContentOtt" resultType="string">
		SELECT OTT_NAME
		FROM OTT_STORAGE OS
		JOIN OTT O ON (OS.OTT_NO = O.OTT_NO)
		WHERE CON_NO = #{conNo}
	</select>
	
	<select id="searchByKeyword" parameterType="map" resultMap="contentResultSet">
		SELECT *
		FROM CONTENT
		JOIN IMAGE I ON(I.REF_TNO = CON_NO) AND I.TABLE_CD = 'C'
		WHERE
		<if test="searchNo == 0">
			(CON_KTITLE LIKE '%'||#{keyword}||'%' 
			OR
			CON_ETITLE LIKE '%'||#{keyword}||'%'
			OR
			CON_DIRECTOR LIKE '%'||#{keyword}||'%' 
			OR
			CON_ACTOR LIKE '%'||#{keyword}||'%')
			AND STATUS = 'N'
		</if>
		<if test="searchNo == 1">
			(CON_KTITLE LIKE '%'||#{keyword}||'%' 
			OR
			CON_ETITLE LIKE '%'||#{keyword}||'%')
			AND STATUS = 'N'
		</if>
		<if test="searchNo == 2">
			(CON_DIRECTOR LIKE '%'||#{keyword}||'%' 
			OR
			CON_ACTOR LIKE '%'||#{keyword}||'%')
			AND STATUS = 'N'
		</if>
	</select>
	
	<select id="autoSearch" parameterType="map" resultMap="contentResultSet">
		SELECT CT.CON_NO, CON_KTITLE, CHANGE_NAME, FILE_PATH, CON_CATEGORY, CON_DATE, CON_ACTOR, CON_DIRECTOR, CON_ETITLE
		FROM CONTENT CT
		JOIN IMAGE I ON(I.REF_TNO = CON_NO) AND I.TABLE_CD = 'C'
		LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO) 
		WHERE
		<if test="selectOption == 0">
			(CON_KTITLE LIKE '%'||#{keyword}||'%' 
			OR
			CON_ETITLE LIKE '%'||#{keyword}||'%'
			OR
			CON_DIRECTOR LIKE '%'||#{keyword}||'%' 
			OR
			CON_ACTOR LIKE '%'||#{keyword}||'%')
			AND CT.STATUS = 'N'
		</if>
		<if test="selectOption == 1">
			(CON_KTITLE LIKE '%'||#{keyword}||'%' 
			OR
			CON_ETITLE LIKE '%'||#{keyword}||'%')
			AND CT.STATUS = 'N'
		</if>
		<if test="selectOption == 2">
			(CON_DIRECTOR LIKE '%'||#{keyword}||'%' 
			OR
			CON_ACTOR LIKE '%'||#{keyword}||'%')
			AND CT.STATUS = 'N'
		</if>
		GROUP BY CT.CON_NO, CON_KTITLE, CHANGE_NAME, FILE_PATH, CON_CATEGORY, CON_DATE, CON_ACTOR, CON_DIRECTOR, CON_ETITLE
	</select>
	
	<select id="selectContentCategory" parameterType="map" resultMap="contentResultSet">
		<if test="genre.size != 0 and age.size == 0 and ott.size == 0 and category.size == 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN GENRE_STORAGE G ON(CT.CON_NO = G.CON_NO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC	
		</if>
		
		<if test="genre.size != 0 and age.size != 0 and ott.size == 0 and category.size == 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN GENRE_STORAGE G ON(CT.CON_NO = G.CON_NO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND CON_AGE IN(
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC
		</if>
		
		<if test="genre.size == 0 and age.size != 0 and ott.size == 0 and category.size == 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			WHERE CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC	
		</if>
		
		<if test="genre.size == 0 and age.size == 0 and ott.size != 0 and category.size == 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN OTT_STORAGE O ON (CT.CON_NO = O.CON_NO)
			WHERE OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC
		</if>
		
		<if test="genre.size != 0 and age.size == 0 and ott.size != 0 and category.size == 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN OTT_STORAGE O ON (CT.CON_NO = O.CON_NO)
			JOIN GENRE_STORAGE G ON(CT.CON_NO = G.CON_NO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC
		</if>
		
		<if test="genre.size == 0 and age.size != 0 and ott.size != 0 and category.size == 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN OTT_STORAGE O ON (CT.CON_NO = O.CON_NO)
			WHERE CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC
		</if>
		
		<if test="genre.size != 0 and age.size != 0 and ott.size != 0 and category.size == 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN OTT_STORAGE O ON (CT.CON_NO = O.CON_NO)
			JOIN GENRE_STORAGE G ON(CT.CON_NO = G.CON_NO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC	
		</if>
		
		<if test="genre.size != 0 and age.size == 0 and ott.size == 0 and category.size != 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN GENRE_STORAGE G ON(CT.CON_NO = G.CON_NO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC
		</if>
		
		<if test="genre.size != 0 and age.size != 0 and ott.size == 0 and category.size != 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN GENRE_STORAGE G ON(CT.CON_NO = G.CON_NO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND CON_AGE IN(
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC	
		</if>
		
		<if test="genre.size == 0 and age.size != 0 and ott.size == 0 and category.size != 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			WHERE CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC	
		</if>
		
		<if test="genre.size == 0 and age.size == 0 and ott.size != 0 and category.size != 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN OTT_STORAGE O ON (CT.CON_NO = O.CON_NO)
			WHERE CON_CATEGORY IN(
			WHERE OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC	
		</if>
		
		<if test="genre.size != 0 and age.size == 0 and ott.size != 0 and category.size != 0">			
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN OTT_STORAGE O ON (CT.CON_NO = O.CON_NO)
			JOIN GENRE_STORAGE G ON(CT.CON_NO = G.CON_NO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC
		</if>
		
		<if test="genre.size == 0 and age.size != 0 and ott.size != 0 and category.size != 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN OTT_STORAGE O ON (CT.CON_NO = O.CON_NO)
			WHERE CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC
		</if>
		
		<if test="genre.size != 0 and age.size != 0 and ott.size != 0 and category.size != 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			JOIN OTT_STORAGE O ON (CT.CON_NO = O.CON_NO)
			JOIN GENRE_STORAGE G ON(CT.CON_NO = G.CON_NO)
			WHERE GEN_NO IN (
			<foreach collection="genre" item="c" separator=",">
				${c}
			</foreach>
			) AND OTT_NO IN (
			<foreach collection="ott" item="o" separator=",">
				${o}
			</foreach>
			) AND CON_AGE IN (
			<foreach collection="age" item="a" separator=",">
				${a}
			</foreach>
			) AND CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC
		</if>
		
		<if test="genre.size == 0 and age.size == 0 and ott.size == 0 and category.size != 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			WHERE CON_CATEGORY IN(
			<foreach collection="category" item="g" separator=",">
				${g}
			</foreach>
			) AND CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC
		</if>
		
		<if test="genre.size == 0 and age.size == 0 and ott.size == 0 and category.size == 0">
			SELECT DISTINCT CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH, ROUND(AVG(CMT_STAR/20), 1) AS "STAR_AVG"
			FROM CONTENT CT
			LEFT JOIN COMENT CM ON(CT.CON_NO = CM.CON_NO)
			JOIN IMAGE I ON (CT.CON_NO = REF_TNO) AND I.TABLE_CD = 'C'
			WHERE CT.STATUS = 'N'
			GROUP BY CT.CON_NO, CON_KTITLE, CON_DATE, CHANGE_NAME, FILE_PATH
			ORDER BY STAR_AVG DESC NULLS LAST, CT.CON_DATE DESC
		</if>
			
			
	</select>
</mapper>