<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">


<resultMap type="member" id="memberResultSet">
	<result column="MEM_NO" property="memNo"></result>
	<result column="TABLE_CD" property="tableCd"></result>
	<result column="MEM_ID" property="memId"></result>
	<result column="MEM_PWD" property="memPwd"></result>
	<result column="MEM_NICKNAME" property="memNickname"></result>
	<result column="MEM_NAME" property="memName"></result>
	<result column="PHONE" property="phone"></result>
	<result column="BIRTHDAY" property="birthDay"></result>
	<result column="ENROLL_DATE" property="enrollDate"></result>
	<result column="MODIFY_DATE" property="modifyDate"></result>
	<result column="ROLE" property="role"></result>
	<result column="STATUS" property="status"></result>
	<result column="B_STATUS" property="bStatus"></result>
	<result column="SNS_TYPE" property="snsType"></result>
</resultMap>
	<!-- 회원가입  -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER(
			MEM_NO,
			MEM_ID,
			MEM_PWD,
			MEM_NICKNAME,
			MEM_NAME,
			PHONE,
			BIRTHDAY
		) VALUES(
			SEQ_MEM.NEXTVAL,
			#{memId},
			#{memPwd},
			#{memNickname},
			#{memName},
			#{phone},
			#{birthDay}
		)
	</insert>
	

	<!-- 아이디 중복확인 -->
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEM_ID = #{checkId}
	</select>
	

	<!-- 닉네임 중복확인 -->
	<select id="nickCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEM_NICKNAME = #{checkNick}
	</select>
	
	<!-- 로그인 -->
	<select id="loginMember" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEM_ID = #{memId} AND STATUS = 'N'
	</select>
	
	<!-- 카카오 로그인 정보 찾기 -->
	<select id="findKakao" parameterType="java.util.HashMap" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE MEM_NAME=#{name} AND MEM_ID=#{email} AND SNS_TYPE='K'
	</select>

	<!-- 카카오 로그인 정보 저장 -->
	<insert id="kakaoInsert" parameterType="java.util.HashMap">
		INSERT INTO MEMBER(MEM_NO, MEM_NAME, MEM_NICKNAME, MEM_ID, SNS_TYPE)
			values(SEQ_MEM.NEXTVAL, #{name}, #{nickName}, #{email}, 'K')
	</insert>
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="member" resultType="String">
		SELECT MEM_ID FROM MEMBER WHERE MEM_NAME=#{memName} AND PHONE=#{phone}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPwd" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE MEM_ID=#{id} AND PHONE=#{phone}
	</select>
	
	<update id="updatePwd" parameterType="member">
		UPDATE MEMBER
		SET MEM_PWD = #{memPwd}
		MODIFY_DATE = SYSDATE
		WHERE MEM_ID=#{id} AND PHONE=#{phone}
	</update>
	
	<!-- 네이버 로그인 정보 찾기 -->  
	<select id="findMember" parameterType="member" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE MEM_NAME=#{memName} AND MEM_ID=#{memId} AND SNS_TYPE='N'
	</select>

	<!-- 네이버 로그인 정보 저장 -->  
	<insert id="getUserInfoN" parameterType="member" >
		INSERT INTO MEMBER(MEM_NO, MEM_NAME, MEM_NICKNAME, MEM_ID, SNS_TYPE)
			values(SEQ_MEM.NEXTVAL, #{memName}, #{memNickname}, #{memId}, 'N')
	</insert>
</mapper>