<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="partyMapper">

	<select id="getPrice" parameterType="String" resultType="int">
		SELECT OTT_PRICE 
		FROM OTT 
		WHERE OTT_NO = #{ottNo}
	</select>
	

</mapper>