<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="partyMapper">

	<resultMap type="party" id="partyResultSet">
		<result column="PA_NO" property="paNo"></result>
		<result column="PA_NAME" property="paName"></result>
		<result column="TABLE_CD" property="tableCd"></result>
		<result column="OTT_NAME" property="ottName"></result>
		<result column="OTT_NO" property="ottNo"></result>
		<result column="PA_TITLE" property="paTitle"></result>
		<result column="CREW_NUM" property="crewNum"></result>
		<result column="OTT_ID" property="ottId"></result>
		<result column="OTT_PWD" property="ottPwd"></result>
		<result column="START_DATE" property="startDate"></result>
		<result column="END_DATE" property="endDate"></result>
		<result column="DAY_PRICE" property="dayPrice"></result>
		<result column="ACCOUNT" property="account"></result>
		<result column="STATUS" property="status"></result>
		<result column="LEFT_DATE" property="leftDate"></result>
		<result column="JOIN_NUM" property="joinNum"></result>
		<result column="TOTAL_PRICE" property="totalPrice"></result>
		<result column="MEM_NICKNAME" property="memNickname"></result>
	</resultMap>
	
	<resultMap type="partyJoin" id="partyJoinResultSet">
		<result column="PA_NO" property="paNo"></result>
		<result column="MEM_NO" property="memNo"></result>
		<result column="MEM_NICKNAME" property="memNickname"></result>
		<result column="JOIN_DATE" property="joinDate"></result>
	</resultMap>
	
	<select id="getPrice" parameterType="String" resultType="int">
		SELECT OTT_PRICE 
		FROM OTT 
		WHERE OTT_NO = #{ottNo}
	</select>

	<insert id="insertParty" parameterType="Party">
		INSERT INTO PARTY(
			PA_NO,
			PA_NAME,
			OTT_NO,
			PA_TITLE,
			CREW_NUM,
			OTT_ID,
			OTT_PWD,
			END_DATE,
			DAY_PRICE,
			ACCOUNT
		) VALUES(
			SEQ_PNO.NEXTVAL,
			#{paName},
			#{ottNo},
			#{paTitle},
			#{crewNum},
			#{ottId},
			#{ottPwd},
			#{endDate},
			#{dayPrice},
			#{account}
		)
	</insert>
	
	<select id="findPartyForm" resultMap="partyResultSet">
		SELECT P.PA_NO,
			   O.OTT_NAME,
			   PA_TITLE,
			   END_DATE,
			   TRUNC(END_DATE-SYSDATE+2,0) AS LEFT_DATE,
			   (SELECT COUNT(*)
                FROM PARTY_JOIN
                WHERE PA_NO = P.PA_NO) AS JOIN_NUM
		FROM PARTY P
        JOIN OTT O USING(OTT_NO)
	</select>
	
	<select id="searchParty" parameterType="map" resultMap="partyResultSet">
		SELECT P.PA_NO,
			   O.OTT_NAME,
			   PA_TITLE,
			   END_DATE,
			   TRUNC(END_DATE-SYSDATE+2,0) AS LEFT_DATE,
			   (SELECT COUNT(*)
                FROM PARTY_JOIN
                WHERE PA_NO = P.PA_NO) AS JOIN_NUM 
		FROM PARTY P
        JOIN OTT O USING(OTT_NO)
        
        <if test="!ottList.isEmpty() or month != ''"> 
        	WHERE 
       
			<if test="!ottList.isEmpty()">
	        	OTT_NO IN (${ottList})
	        </if>
	        
	        <if test="!ottList.isEmpty() and month != ''">
	        	AND 
	        </if>
	        
			<if test="month != ''">
	        <choose>
				<when test="month != '12'">
	        		<![CDATA[PA_NO IN (SELECT PA_NO FROM PARTY WHERE TRUNC(END_DATE-SYSDATE+2,0) < TO_NUMBER(#{month})*30)]]>
	        	</when>
				<when test="month == '12'"> 
					1 = 1
	        	</when>
	        </choose>
	       </if>
	   </if>
	</select>


		
	<select id="partyDetailForm" parameterType="int" resultMap="partyResultSet">
        SELECT OTT_NAME,
               PA_TITLE,
               PA_NAME,
               MEM_NICKNAME,
               PA_NO,
               END_DATE,
               START_DATE,
			   TRUNC(END_DATE-SYSDATE+2,0) AS LEFT_DATE,
               TRUNC(END_DATE-SYSDATE+2,0) * DAY_PRICE AS TOTAL_PRICE
        FROM PARTY P
        JOIN OTT O USING(OTT_NO)
        JOIN MEMBER M ON P.PA_NAME = M.MEM_NO
        WHERE PA_NO = #{paNo}
	</select>
	
	<select id="partyJoinMem" parameterType="int" resultMap="partyJoinResultSet">
        SELECT MEM_NO,
        	   MEM_NICKNAME,
               JOIN_DATE
        FROM PARTY_JOIN P
        JOIN MEMBER USING(MEM_NO)
        WHERE PA_NO = #{paNo}
	</select>
	
	<insert id="joinPartyMember" parameterType="PartyJoin">
		INSERT INTO PARTY_JOIN
		VALUES (#{paNo},#{memNo},SYSDATE)
	</insert>
	
	

</mapper>